<!-- <div class="container" *ngIf="user">
  <div class="row">
    <div class="col-lg-6 offset-lg-6">
      <div class="user-card" style="background-color: #162542; color:white">
        <h5 style="margin:1rem">User Detail</h5>
        <div class="user-details">
          <div class="user-property">Name:</div>
          <div class="user-value">{{ user.name }}</div>

          <div class="user-property">Address:</div>
          <div class="user-value">{{ user.address }}</div>

          <div class="user-property">Email:</div>
          <div class="user-value">{{ user.email }}</div>

          <div class="user-property">Phone:</div>
          <div class="user-value">{{ user.phone }}</div>

          <div class="user-property">Date of Birth:</div>
          <div class="user-value">{{ user.dob }}</div>

          <div class="user-property">DL No.:</div>
          <div class="user-value">{{ user.dl }}</div> 
        </div>
      </div>
    </div>
  </div>
</div> -->
