<div class="login-container">
  <div class="login-left">
    <img src="assets/images/icon.png" alt="Rounded Image">
  </div>
  <div class="login-right">
    <ng-container *ngIf="isLogin; else signupForm">
      <div class="alert alert-danger" *ngIf="error" style="margin-right: 1.5rem;">
        <p>{{ error }}</p>
      </div>
      <div class="alert " *ngIf="signupSuccess">
        <p>signup successful.</p>
      </div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmitLogin(loginForm)" novalidate>
        <div class="field">
          <h2 style="font-weight: bold;">Login</h2>
        </div>
        <div class="field">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" ngModel required pattern="[a-zA-Z0-9._%+-]+@gmail\.com"
            class="form-control">
          <div
            *ngIf="loginForm.controls['email'] && (loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched))"
            class="text-danger">
            <div *ngIf="loginForm.controls['email'].errors?.['required']">Email is required.</div>
            <div
              *ngIf="loginForm.controls['email'].errors?.['email'] || loginForm.controls['email'].errors?.['pattern']">
              Please enter a valid email.</div>
          </div>
        </div>
        <div class="field">
          <label for="password">Password:</label>
          <input id="password" type="password" required ngModel name="password" minlength="10" #password="ngModel">
          <span class="help-block text-danger" *ngIf="password.touched && password.errors?.['required']">Please enter
            the password.</span>
          <span class="help-block text-danger" *ngIf="password.touched && password.errors?.['minlength']">Password must
            be at least 10 characters long.</span>
        </div>
        <div class="field">
          <button class="sb" type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>
        <div class="field">
          <a routerLink="/auth" (click)="toggleForm()">Create New Account</a>
        </div>
      </form>
    </ng-container>
    <ng-template #signupForm>
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <form #signupForm="ngForm" (ngSubmit)="onSubmitSignup(signupForm)" novalidate>
        <div class="field">
          <h2 style="font-weight: bold;">Signup</h2>
        </div>
        <div class="field">
          <label for="name">Name:</label>
          <input id="name" type="text" required ngModel name="name">
        </div>
        <div class="field">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" ngModel required pattern="[a-zA-Z0-9._%+-]+@gmail\.com"
            class="form-control">
          <div
            *ngIf="signupForm.controls['email'] && (signupForm.controls['email'].invalid && (signupForm.controls['email'].dirty || signupForm.controls['email'].touched))"
            class="text-danger">
            <div *ngIf="signupForm.controls['email'].errors?.['required']">Email is required.</div>
            <div
              *ngIf="signupForm.controls['email'].errors?.['email'] || signupForm.controls['email'].errors?.['pattern']">
              Please enter a valid email.</div>
          </div>
        </div>
        <div class="field">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" ngModel required minlength="10" class="form-control">
          <div
            *ngIf="signupForm.controls['password'] && (signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty ||signupForm.controls['password'].touched))"
            class="text-danger">
            <div *ngIf="signupForm.controls['password'].errors?.['required']">Password is required.</div>
            <div *ngIf="signupForm.controls['password'].errors?.['minlength']">Password must be at least 10 characters
              long.</div>
          </div>
        </div>
        <div class="field">
          <label for="confirm-password">Confirm Password:</label>
          <input id="confirm-password" type="password" required ngModel name="confirmPassword" minlength="10"
            #confirmPassword="ngModel">
          <span class="help-block text-danger"
            *ngIf="signupForm.controls['confirmPassword'].touched && confirmPassword.value !== signupForm.controls['password'].value">Passwords
            do not match.</span>
        </div>
        <div class="field">
          <button class="sb" type="submit"
            [disabled]="!signupForm.valid || confirmPassword.value !== signupForm.controls['password'].value">Signup</button>
        </div>
        <div class="field">
          <a routerLink="/auth" (click)="toggleForm()">Login</a>
        </div>
      </form>
    </ng-template>
  </div>
</div>